<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunger Apps</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet"> </head>
<body>
    <a href="#content" class="skip-link">go to content</a>
    <header class="header">
        <div class="header__inner">
            <h1 tabindex="0" class="header__title">
                ~ Chocolate Bar ~
            </h1>
        </div>
        <button id="menu" class="header__menu">☰</button>
    </header>

    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#">Favorite</a></li>
            <li class="nav__item"><a href="https://github.com/davidbasa">About Us</a></li>
        </ul>
    </nav>
    <div class="hero">
        <div class="hero_inner">
            <h1 tabindex ="0" class="hero__title">Looking for some meal???</h1>
            <p tabindex ="0" class="hero__tagline">You can find everything here...</p>
        </div>
    </div>
    <main>
        <section class="content" id="content">
            <h1 tabindex = "0"class="title_label">Explore Your Restaurant Now !!</h1>
            <div class="posts">
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright &copy; 2021 - Chocolate Bar</p>
    </footer>
</body>
</html>
